
.payment-image{
    background-image: url('https://i.ibb.co/JBQXpyZ/e-wallet-concept-illustration-114360-7561.webp');
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}